  <!--
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.email}}
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
-->


<div class="jumbotron">
    <h1 class="display-4">Hola, {{currentUser.nombre}}!</h1>
    <p class="lead">Bienvenido a Cotiza Fácil la plataforma para realizar cotizaciones en internet</p>
    <buscar-cotizables  *ngIf="currentUser.id_tipo_usuario === 'comprador'" [currentUser]="currentUser"></buscar-cotizables>
    <hr class="my-4">
    <p>A continuación te presentamos algunas opciones que pueden ser de tu interes.</p>

    <div class="btn-group" role="group" aria-label="Basic example" *ngIf="currentUser.id_tipo_usuario === 'proveedor'">
      <button type="button" 
              class="btn btn-secondary" 
              routerLink="/catalogo" 
              routerLinkActive="active"> Mi Catalogo</button>

      <button type="button" 
              class="btn btn-secondary" 
              routerLink="/solicitud-cotizacion" 
              routerLinkActive="active" >Entregar Cotizaciones</button>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example"
      *ngIf="currentUser.id_tipo_usuario === 'comprador'">
    <button type="button" 
          class="btn btn-secondary"
          routerLink="/solicitud-cotizacion" 
          routerLinkActive="active" 
          >Mis solicitudes</button>
  </div>
  
</div>
