<!--
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.email}}
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
-->
<div class="row justify-content-md-center">
  <div class="card card-body col col-lg-9">
    <h3>Hola, {{currentUser.nombre}}!</h3>

    <p class="lead">Bienvenido a Cotiza Fácil la plataforma para realizar cotizaciones en internet</p>
    <p>A continuación te presentamos algunas opciones que pueden ser de tu interes.</p>
    <p>
      <button *ngIf="currentUser.tipo === 'comprador'" type="button" class="btn btn-outline-info" routerLink="/solicitud-cotizacion" routerLinkActive="active">
        Mis Cotizaciones</button>
    </p>
    <div class="btn-group" role="group" aria-label="Basic example" *ngIf="currentUser.tipo === 'proveedor'">
      <button type="button" class="btn btn-info btn-sm" routerLink="/catalogo" routerLinkActive="active"> Mi Catalogo</button>

      <button type="button" class="btn btn-info btn-sm" routerLink="/solicitud-cotizacion" routerLinkActive="active">Entregar
        Cotizaciones</button>
    </div>

    <p></p>
    <div *ngIf="currentUser.tipo === 'comprador'" >
      <p>Digita el producto que quieres:</p>
      <buscar-cotizables [currentUser]="currentUser">
      </buscar-cotizables>
    </div>
 
    <hr class="">


    <div class="container">
    </div>

  </div>
</div>