<div class="card list-group-item-action" style="width: 18rem;" (click)="verDetalle()">
  <img class="card-img-top" [src]="solicitud.cotizable.imagen"  alt="Sin imagen">
  <div class="card-body">
    <h5 class="card-title">{{solicitud.cotizable.titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Código: {{solicitud.cotizable.codigo}}</h6>
    <p class="card-text"> {{solicitud.cotizable.descripcion}} </p>
  <small class="text-muted">Fecha Creación: {{solicitud.fechaCreacion | date: 'dd/MM/yyyy'}}</small>
 </div>
</div>
<p></p>