<div class="col-md-4" *ngFor="let product of products">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-item-center  ">
            {{product.titulo}}
            <button *ngIf="id_tipo_usuario==2" class="btn btn-danger" (click)="deleteProduct(product.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>

        <div class="card-body">


            <img src="{{product.url_imagen}}" class="img-fluid">
            <h3>Catalogo : {{product.id_catalogo}}</h3>

            <p>Descripción: {{product.descripcion}}</p>

            <a *ngIf="id_tipo_usuario==2" [routerLink]="['/products/edit/', product.id]"
                class="btn btn-info btn-block">
                Editar
            </a>

            <a *ngIf="id_tipo_usuario==1" [routerLink]="['/cotizaciones/add/', product.id, user.id]" class="btn btn-info btn-block">
                Cotizar
            </a>
        </div>

    </div>
</div>