<div class="d-flex align-items-center">

    <div class="col-md-4 offset-md-2 ">
        <div class="card">
            <div class="card-body">
                <div class="">
                    <h2 class="">Creación Productos</h2>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" name="title" [(ngModel)]="product.titulo" placeholder="Titulo"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="description" [(ngModel)]="product.descripcion" rows="2"
                            placeholder="Descripcion" class="form-control"></textarea>
                    </div>
                    <div class="form-group input-group">

                        <select name="id_catalogo" class="form-control" [(ngModel)]="product.id_catalogo">
                            <option value="1" >Catalogo 1</option>
                            <option value="2">Catalogo 2</option>
                        </select>
                    </div> <!-- form-group end.// -->

                    <div class="form-group">
                        <input type="url" name="image" placeholder="URL de la Imagen" [(ngModel)]="product.url_imagen"
                            class="form-control">
                    </div>
                    <button class="btn btn-success btn-block" (click)="edit ? updateProduct() : saveNewProduct()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="card col-md-4 offset-md-2">
        <div class="card-body">
            <p>Previsualizacion</p>
            <img [src]="product.url_imagen == '' ? 'assets/noimage.png' : product.url_imagen" class="card-img-top ">
            <h3>{{product.id}}. {{product.title == '' ? 'Titulo Producto' : product.titulo}}</h3>
            <p>{{product.descripcion == '' ? 'Descripcion Producto' : product.descripcion}}</p>
            <p>{{product.fecha_creacion | date: 'yyyy-mm-dd'}}</p>
        </div>
    </div>
</div>